@model WebStore.Models.Product
@{
    ViewData["Title"] = "Создайте продукт";
}

@ViewData["Path"];

<h1>Создайте продукт</h1>

<div class="container">
    <form asp-controller="Admin" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Title" class="col-2 control-label"></label>
            <input asp-for="Title" class="col-4 form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-2 control-label"></label>
            <input asp-for="Description" class="col-4 form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Discount" class="col-2 control-label"></label>
            <input asp-for="Discount" class="col-4 form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-2 control-label"></label>
            <input asp-for="Price" class="col-4 form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="button" onclick="addFormFile(this)" class="btn btn-info ml-5 col-4 mb-3 row" value="Добавить картинку" />
            <div class="form-group row">
                <input type="file" name="uploadedFiles" class="form-control-file col-5" />
                <input type="button" onclick="deleteFormFile(this)" class="btn btn-outline-danger ml-1 col-2" value="Удалить форму" />
            </div>
        </div>
        <input type="button" id="btnCreatePC" class="btn btn-info ml-5 col-4" value="Добавить характеристику" />
        @* Характеристика *@
        <table id="tableCreatePC" class="table table-hover table-responsive">
            <thead></thead>
            <tbody></tbody>
        </table>
        <input type="button" class="btn btn-outline-secondary" onclick="history.go(-1)" value="Назад" />
        <input type="submit" class="btn btn-primary" value="Создать продукт и характеристику" />
    </form>
</div>
