@model WebStore.Models.Product

@{
    ViewData["Title"] = "Удаление продукта";
}

<h1>Удаление продукта</h1>

<div class="container">
    <form asp-controller="Admin" asp-action="Delete" method="post">
        <div class="form-group row px-3 px-sm-0">
            <label asp-for="ID" class="col-12 col-md-3 pl-0 mx-sm-3 pr-md-0 mr-md-0 pt-md-1 control-label"></label>
            <input asp-for="ID" disabled class="col col-md-5 mx-sm-3 form-control disabled" />
        </div>
        <div class="form-group row px-3 px-sm-0">
            <label asp-for="Title" class="col-12 col-md-3 pl-0 mx-sm-3 pr-md-0 mr-md-0 pt-md-1 control-label"></label>
            <input asp-for="Title" disabled class="col col-md-5 mx-sm-3 form-control disabled" />
        </div>
        <div class="form-group row px-3 px-sm-0">
            <label asp-for="Description" class="col-12 col-md-3 pl-0 mx-sm-3 pr-md-0 mr-md-0 pt-md-1 control-label"></label>
            <input asp-for="Description" disabled class="col col-md-5 mx-sm-3 form-control disabled" />
        </div>
        <div class="form-group row px-3 px-sm-0">
            <label asp-for="Discount" class="col-12 col-md-3 pl-0 mx-sm-3 pr-md-0 mr-md-0 pt-md-1 control-label"></label>
            <input asp-for="Discount" disabled class="col col-md-5 mx-sm-3 form-control disabled" />
        </div>
        <div class="form-group row px-3 px-sm-0">
            <label asp-for="Price" class="col-12 col-md-3 pl-0 mx-sm-3 pr-md-0 mr-md-0 pt-md-1 control-label"></label>
            <input asp-for="Price" disabled class="col col-md-5 mx-sm-3 form-control disabled" />
        </div>
        <div class="form-group row px-3 px-sm-0">
            <label class="col-12 col-md-3 pl-0 mx-sm-3 pr-md-0 mr-md-0 pt-md-1 control-label">Количество характеристик:</label>
            <input value="@Model.Characteristic.Count" disabled class="col col-md-5 mx-sm-3 form-control disabled" />
        </div>
        
        
        <input type="button" class="btn btn-outline-secondary" onclick="history.go(-1)" value="Назад" />
        <input type="submit" class="btn btn-danger" value="Удалить" />
    </form>
</div>
