<div class="container">
    <p class="text-danger">@ViewData["Title"]</p>
</div>

@if (ViewBag.EnabledEmail == null)
{
    <form asp-controller="Account" asp-action="Confirmation" method="post">
        <p>Отправить письмо для подтверждения повторно через: <span id="timerConfirmationPage"></span></p>
        <input id="confirmationPageBtn" disabled type="submit" class="col-3 col-md-3 btn btn-outline-secondary" value="Отправить письмо повторно" />
    </form>
}

@section Scripts{
    <script type="text/javascript" src="~/js/account/confirmation_page_account_controller.js"></script>
}