@model WebStore.Models.Identity.IdentityViewModels.RecoveryModel

<form asp-controller="Account" asp-action="RecoveryPassword" asp-antiforgery="true" method="post">
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-3 pl-0 control-label"></label>
            <input asp-for="Email" class="col-md-3 form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <p>Мы отправим пароль к Вам на почту</p>
        </div>
        <input type="submit" class="btn btn-primary col-md-3" value="Отправить пароль" />
    </div>
</form>