@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<div>
    <p id="dataHome">Пока нет данных!</p>
    <input type="button" onclick="pushme(this)" class="btn btn-primary" value="Нажми на меня." />
</div>